{{> contentHeader page="My Profile"}}
<div class="row">
	<div class="col-7">
		<div class="card card-primary">
			<div class="card-header active">
				<h3 class="card-title">
					{{ profile.firstName }} {{ profile.lastName }}
				</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<div class="row" id="my_profile">
					<div class="col-md-3">
						<img
							id="photo2"
							alt="User Pic"
							src="/dist/img/me.JPG"
							class="img-circle img-responsive"
						/>
					</div>
					<div class="col-md-9">
						<table class="table table-bordered table-striped">
							<tbody>
								<tr>
									<td style="width: 30%;">Full Name</td>
									<td id="full_name">
										{{ profile.firstName }}
										{{ profile.lastName }}
									</td>
								</tr>

								<tr>
									<td>Address</td>
									<td id="address">{{ profile.address }}</td>
								</tr>
								<tr>
									<td>Gender</td>
									<td id="gender">{{ profile.gender }}</td>
								</tr>
								<tr>
									<td>Email</td>
									<td id="email">{{ profile.email }}</td>
								</tr>
								<tr>
									<td>Phone Number</td>
									<td id="phone">{{ profile.phone }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.card-body -->
			<div class="card-footer text-right">
				<button
					data-id="{{ profile._id }}"
					onclick="showUpdateModal(this, 'profile')"
					data-toggle="modal"
					data-target="#update"
					class="btn btn-primary btn-small"
				>
					Edit
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="update" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content bg-info">
			<div class="modal-header">
				<h4 class="modal-title">Edit Profile</h4>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<form
				role="form"
				method="POST"
				class="updateForm form"
				action="/profile?_method=PUT"
			>
				<div class="modal-body">
					<div class="form-group">
						<label for="firstName">First Name</label>
						<input
							type="text"
							class="form-control updateNameInp updateInputField"
							name="firstName"
							id="firstName"
						/>
					</div>
					<div class="form-group">
						<label for="lastName">Last Name</label>
						<input
							type="text"
							class="form-control updateNameInp updateInputField"
							name="lastName"
							id="lastName"
						/>
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<input
							type="text"
							class="form-control updateNameInp updateInputField"
							name="address"
							id="address"
						/>
					</div>
					<div class="form-group">
						<label for="gender">Gender</label>
						<select
							name="gender"
							id="gender"
							class="form-control notSelect updateInputField"
						>
							<option value="notSelect">Select A Gender</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input
							type="text"
							class="form-control updateNameInp updateInputField"
							name="email"
							id="email"
						/>
					</div>
					<div class="form-group">
						<label for="phone">Phone Number</label>
						<input
							type="text"
							class="form-control updateNameInp updateInputField"
							name="phone"
							id="phone"
						/>
					</div>

					<input
						type="hidden"
						name="_id"
						class="hiddenId updateInputField"
					/>
				</div>
				<div class="modal-footer justify-content-between">
					<button
						style="width: 100%;"
						type="submit"
						class="btn btn-light form-submit"
					>
						Update
					</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
