{{> contentHeader page="Section"}}
{{> messages}}
<div class="row">
    <div class="col-6">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Add Section</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" class="form" method="POST" action="/section">
                <div class="card-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Section Name">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info form-submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card card-info">
            <div class="card-header ">
                <h3 class="card-title">All Section</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                {{#if error}}
                    {{error}}
                {{else}}
                    <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6"></div>
                            <div class="col-sm-12 col-md-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="dataTable" class="table table-bordered table-hover dataTable dtr-inline"
                                    role="grid" aria-describedby="example2_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="example2">ID</th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="example2">Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="example2">
                                                Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{#each sections}}
                                            <tr role="row" class="odd">
                                                <td class="" tabindex="0">{{incrementOne @index}}</td>
                                                <td class="sorting_1">{{name}}</td>
                                                <td>
                                                    <button data-id="{{_id}}" onclick="showUpdateModal(this, 'section')"
                                                        data-toggle="modal" data-target="#update"
                                                        class="btn btn-primary btn-small">Edit</button>
                                                    <button data-id="{{_id}}" onclick="deleteModalHandler(this, 'section')"
                                                        data-toggle="modal" data-target="#delete"
                                                        class="btn btn-danger btn-small">Delete</button>
                                                </td>
                                            </tr>
                                        {{/each}}

                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>
                {{/if}}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col -->
</div>

<div class="modal fade" id="delete" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Delete Section</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <Do>Are you sure? Do you want to delete this Record?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button onclick="deleteItemHandler(this, 'section')" style="width: 100%;" type="button"
                    class="btn btn-light deleteBtn">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="update" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content bg-info">
            <div class="modal-header">
                <h4 class="modal-title">Edit Section</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form role="form" method="POST" class="updateForm" action="/section?_method=PUT">
                <div class="modal-body">
                    <!-- form start -->
                    <div class="form-group">
                        <label for="updateName">Name</label>
                        <input type="text" class="form-control updateNameInp updateInputField" name="name"
                            id="updateName" placeholder="Enter Section name">
                    </div>
                    <input type="hidden" name="_id" class="hiddenId updateInputField">

                </div>
                <div class="modal-footer justify-content-between">

                    <button style="width: 100%;" type="submit" class="btn btn-light">Update</button>

                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
