{{> contentHeader page="Teacher" subPage="Create"}}
{{#if success}}
<h1>Error</h1>
{{/if}}
<div class="row">
	<div class="col-8">
		<div class="card card-info">
			<div class="card-header">
				<h3 class="card-title">Add Teacher</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form class="my-form form-horizontal" method="POST" action="/teacher/create" enctype="multipart/form-data">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="gender" class="col-form-label"
									>Full Name <sup>*</sup>
								</label>

								<input
									type="text"
									class="form-control"
									id="fullName"
									name="fullName"
									placeholder="Enter Full Name"
									value="{{ session.matchedValue.fullName }}"
								/>

								{{#if session.errors.fullName}}
								<p class="error">
									{{ session.errors.fullName.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="email" class="col-form-label"
									>Email<sup>*</sup></label
								>

								<input
									type="text"
									class="form-control"
									id="email"
									name="email"
									placeholder="Enter Your Email"
									value="{{ session.matchedValue.email }}"
								/>
								{{#if session.errors.email}}
								<p class="error">
									{{ session.errors.email.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="password" class="col-form-label"
									>Password<sup>*</sup></label
								>

								<input
									type="text"
									class="form-control"
									id="password"
									name="password"
									placeholder="Enter Your Password"
									value="{{ session.matchedValue.password }}"
								/>
								{{#if session.errors.password}}
								<p class="error">
									{{ session.errors.password.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="designation" class="col-form-label"
									>Designation<sup>*</sup></label
								>

								<input
									type="text"
									class="form-control"
									id="designation"
									name="designation"
									placeholder="Enter Your Designation"
									value="{{
										session.matchedValue.designation
									}}"
								/>
								{{#if session.errors.designation}}
								<p class="error">
									{{ session.errors.designation.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="dept" class="col-form-label"
									>Select dept</label
								>

								<select
									class="form-control select2"
									name="dept"
									id="dept"
                                >
									{{#each dept}}
                                        <option value="{{_id}}" {{selected _id session.matchedValue.dept}}>{{name}}</option>
                                    {{/each}}
								</select>
								{{#if session.errors.dept}}
								<p class="error">
									{{ session.errors.dept.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="phone" class="col-form-label"
									>Phone Number<sup>*</sup></label
								>

								<input
									type="text"
									class="form-control"
									id="phone"
									name="phone"
									placeholder="Enter Phone Number"
									value="{{ session.matchedValue.phone }}"
								/>
								{{#if session.errors.phone}}
								<p class="error">
									{{ session.errors.phone.msg }}
								</p>
								{{/if}}
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="gender" class="col-form-label"
									>Gender</label
								>

								<select
									class="form-control select2"
									name="gender"
									id="gender"
								>
									<option
										value="male"
										{{selected 'male' session.matchedValue.gender}}
									>
										Male
									</option>
									<option
										value="female"
										{{selected 'female' session.matchedValue.gender}}
									>
										Female
									</option>
									<option
										value="other"
										{{selected 'other' session.matchedValue.gender}}
									>
										Other
									</option>
									
								</select>
								{{#if session.errors.gender}}
								<p class="error">
									{{ session.errors.gender.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="dob" class="col-form-label"
									>Date of Birth</label
								>
								<input
									type="text"
									class="form-control inputDate"
									id="dob"
									name="dob"
									value="{{ session.matchedValue.dob }}"
								/>
								{{#if session.errors.dob}}
								<p class="error">
									{{ session.errors.dob.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="joinDate" class="col-form-label"
									>Joining Date</label
								>
								<input
									type="text"
									class="form-control inputDate"
									id="joinDate"
									name="joinDate"
									value="{{ session.matchedValue.joinDate }}"
								/>
								{{#if session.errors.joinDate}}
								<p class="error">
									{{ session.errors.joinDate.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="religion" class="col-form-label"
									>Religion</label
								>
								<input
									type="text"
									class="form-control"
									id="religion"
									name="religion"
									placeholder="Enter Your Religion"
									value="{{ session.matchedValue.religion }}"
								/>
								{{#if session.errors.religion}}
								<p class="error">
									{{ session.errors.religion.msg }}
								</p>
								{{/if}}
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="address" class="col-form-label"
									>Address<sup>*</sup></label
								>

								<input
									type="text"
									class="form-control"
									id="address"
									name="address"
									placeholder="Enter Address"
									value="{{ session.matchedValue.address }}"
								/>
								{{#if session.errors.address}}
								<p class="error">
									{{ session.errors.address.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="photo">Photo</label>
								<div class="input-group">
									<div class="custom-file">
										<input
											type="file"
											class="custom-file-input"
											id="photo"
											name="photo"
										/>
										<label
											class="custom-file-label"
											for="photo"
											>Choose Photo</label
										>
									</div>
									<div class="input-group-append">
										<span class="input-group-text" id=""
											>Upload</span
										>
									</div>
								</div>
								{{#if session.errors.photo}}
								<p class="error">
									{{ session.errors.photo.msg }}
								</p>
								{{/if}}
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<button type="submit" class="btn btn-info">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
