{{> contentHeader page="Teacher" subPage="Create"}}

<div class="row">
	<div class="col-8">
		<div class="card card-info">
			<div class="card-header">
				<h3 class="card-title">Add Teacher</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form class="my-form form-horizontal" method="POST" action="/teacher/create" enctype="multipart/form-data">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="gender" class="col-form-label"
									>Full Name <sup>*</sup>
								</label>

								<input
									type="text"
									class="form-control"
									id="full_name"
									name="full_name"
									placeholder="Enter Full Name"
									value="{{ session.matchedValue.full_name }}"
								/>

								{{#if session.errors.full_name}}
								<p class="error">
									{{ session.errors.full_name.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="email" class="col-form-label"
									>Email<sup>*</sup></label
								>

								<input
									type="text"
									class="form-control"
									id="email"
									name="email"
									placeholder="Enter Your Email"
									value="{{ session.matchedValue.email }}"
								/>
								{{#if session.errors.email}}
								<p class="error">
									{{ session.errors.email.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="password" class="col-form-label"
									>Password<sup>*</sup></label
								>

								<input
									type="text"
									class="form-control"
									id="password"
									name="password"
									placeholder="Enter Your Password"
									value="{{ session.matchedValue.password }}"
								/>
								{{#if session.errors.password}}
								<p class="error">
									{{ session.errors.password.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="designation" class="col-form-label"
									>Designation<sup>*</sup></label
								>

								<input
									type="text"
									class="form-control"
									id="designation"
									name="designation"
									placeholder="Enter Your Designation"
									value="{{
										session.matchedValue.designation
									}}"
								/>
								
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="dept_name" class="col-form-label"
									>Select dept_name</label
								>

								<select
									class="form-control select2"
									name="dept"
									id="dept"
                                >
									{{#each dept}}
                                        <option value="{{_id}}" {{selected _id session.matchedValue.dept_name}}>{{dept_name}}</option>
                                    {{/each}}
								</select>
								
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="phone" class="col-form-label"
									>Phone Number<sup>*</sup></label
								>

								<input
									type="text"
									class="form-control"
									id="phone"
									name="phone"
									placeholder="Enter Phone Number"
									value="{{ session.matchedValue.phone }}"
								/>
								{{#if session.errors.phone}}
								<p class="error">
									{{ session.errors.phone.msg }}
								</p>
								{{/if}}
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="gender" class="col-form-label"
									>Gender</label
								>

								<select
									class="form-control select2"
									name="gender"
									id="gender"
								>
									<option
										value="male"
										{{selected 'male' session.matchedValue.gender}}
									>
										Male
									</option>
									<option
										value="female"
										{{selected 'female' session.matchedValue.gender}}
									>
										Female
									</option>
									<option
										value="other"
										{{selected 'other' session.matchedValue.gender}}
									>
										Other
									</option>
									
								</select>
								
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="dob" class="col-form-label"
									>Date of Birth</label
								>
								<input
									type="text"
									class="form-control inputDate"
									id="dob"
									name="dob"
									value="{{ session.matchedValue.dob }}"
								/>
								
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="joining_date" class="col-form-label"
									>Joining Date</label
								>
								<input
									type="text"
									class="form-control inputDate"
									id="joining_date"
									name="joining_date"
									value="{{ session.matchedValue.joining_date }}"
								/>
								
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="religion" class="col-form-label"
									>Religion</label
								>
								<input
									type="text"
									class="form-control"
									id="religion"
									name="religion"
									placeholder="Enter Your Religion"
									value="{{ session.matchedValue.religion }}"
								/>
								
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label for="address" class="col-form-label"
									>Address<sup>*</sup></label
								>

								<input
									type="text"
									class="form-control"
									id="address"
									name="address"
									placeholder="Enter Address"
									value="{{ session.matchedValue.address }}"
								/>
								{{#if session.errors.address}}
								<p class="error">
									{{ session.errors.address.msg }}
								</p>
								{{/if}}
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="photo">Photo</label>
								<div class="input-group">
									<div class="custom-file">
										<input
											type="file"
											class="custom-file-input"
											id="photo"
											name="photo"
										/>
										<label
											class="custom-file-label"
											for="photo"
											>Choose Photo</label
										>
									</div>
									<div class="input-group-append">
										<span class="input-group-text" id=""
											>Upload</span
										>
									</div>
								</div>
								
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<button type="submit" class="btn btn-info">
									Submit
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
