{{> contentHeader page="Teacher" subPage="All Teacher"}}
{{> messages}}
<div class="row">
	<div class="col-8">
		<div class="card card-info">
			<div class="card-header">
				<h3 class="card-title">All Teacher</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<div
					id="example2_wrapper"
					class="dataTables_wrapper dt-bootstrap4"
				>
					<div class="row">
						<div class="col-sm-12">
							<table
								id="example2"
								class="table table-bordered table-hover dataTable dtr-inline"
								role="grid"
								aria-describedby="example2_info"
							>
								<thead>
									<tr role="row">
										<th
											class="sorting"
											tabindex="0"
											aria-controls="example2"
										>
											ID
										</th>
										<th>Photo</th>
										<th
											class="sorting_desc"
											tabindex="0"
											aria-controls="example2"
										>
											Full Name
										</th>
										<th
											class="sorting_desc"
											tabindex="0"
											aria-controls="example2"
										>
											Email
										</th>
										<th
											class="sorting"
											tabindex="0"
											aria-controls="example2"
										>
											Action
										</th>
									</tr>
								</thead>
								<tbody>
									{{#each teachers}}
									<tr role="row" class="odd">
										<td class="" tabindex="0">1</td>
										<td class="sorting_1 text-center">
											<img class="img-circle my-circle-img"
												src="{{photo}}"
												alt=""
											/>
										</td>
										<td class="sorting_1 text-center">
											{{ fullName }}
										</td>
										<td class="sorting_1 text-center">
											{{ email }}
										</td>
										<td class="text-center">
                                            <button
                                            data-id="{{_id}}" onclick="showUpdateModal(this, 'teacher')"
												data-toggle="modal"
												data-target="#update"
												class="btn btn-info btn-small"
											>
												Edit
											</button>
                                            <button
                                                data-id="{{_id}}" onclick="showDeleteModal(this)"
												data-toggle="modal"
												data-target="#delete"
												class="btn btn-danger btn-small"
											>
												Delete
											</button>
                                            <button
                                                data-id="{{_id}}" onclick="showDetailsModal(this, 'teacher')"
												data-toggle="modal"
												data-target="#details"
												class="btn btn-primary btn-small"
											>
												Details
											</button>
										</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-5">
							<div
								class="dataTables_info"
								id="example2_info"
								role="status"
								aria-live="polite"
							>
								Showing 1 to 10 of 57 entries
							</div>
						</div>
						<div class="col-sm-12 col-md-7">
							<div
								class="dataTables_paginate paging_simple_numbers"
								id="example2_paginate"
							>
								<ul class="pagination">
									<li
										class="paginate_button page-item previous disabled"
										id="example2_previous"
									>
										<a
											href="#"
											aria-controls="example2"
											data-dt-idx="0"
											tabindex="0"
											class="page-link"
											>Previous</a
										>
									</li>
									<li
										class="paginate_button page-item active"
									>
										<a
											href="#"
											aria-controls="example2"
											data-dt-idx="1"
											tabindex="0"
											class="page-link"
											>1</a
										>
									</li>

									<li
										class="paginate_button page-item next disabled"
										id="example2_next"
									>
										<a
											href="#"
											aria-controls="example2"
											data-dt-idx="7"
											tabindex="0"
											class="page-link"
											>Next</a
										>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
	<!-- /.col -->
</div>

<div class="modal fade" id="delete" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Delete Teacher</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <Do>Are you sure? Do you want to delete this Record?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button onclick="deleteSingleItem(this, 'teacher')" style="width: 100%;" type="button"
                    class="btn btn-light deleteBtn">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="update" aria-hidden="true" style="display: none;">
    <div class="modal-dialog teacher-modal-dialog">
        <div class="modal-content bg-info">
            <div class="modal-header">
                <h4 class="modal-title">Edit Teacher</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form role="form" method="POST" class="updateForm my-form form-horizontal" action="/teacher?_method=PUT" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="gender" class="col-form-label">Full Name <sup>*</sup>
                                </label>
                    
                                <input type="text" class="form-control updateInputField" id="fullName" name="fullName" placeholder="Enter Full Name"
                                    />
                    
                                {{#if session.errors.fullName}}
                                    <p class="error">
                                        {{ session.errors.fullName.msg }}
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email" class="col-form-label">Email<sup>*</sup></label>
                    
                                <input type="text" class="form-control updateInputField" id="email" name="email" placeholder="Enter Your Email"
                                   />
                                {{#if session.errors.email}}
                                    <p class="error">
                                        {{ session.errors.email.msg }}
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="password" class="col-form-label">Password<sup>*</sup></label>
                    
                                <input type="text" class="form-control updateInputField" id="password" name="password" placeholder="Enter Your Password"
                                  />
                                {{#if session.errors.password}}
                                    <p class="error">
                                        {{ session.errors.password.msg }}
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="designation" class="col-form-label">Designation<sup>*</sup></label>
                    
                                <input type="text" class="form-control updateInputField" id="designation" name="designation"
                                    placeholder="Enter Your Designation" />
                               
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="dept" class="col-form-label">Select dept</label>
                    
                                <select class="form-control updateInputField select2 dept-edit-wrap" name="dept" id="dept">
                                  
                                </select>
                              
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="phone" class="col-form-label">Phone Number<sup>*</sup></label>
                    
                                <input type="text" class="form-control updateInputField" id="phone" name="phone" placeholder="Enter Phone Number"
                                   />
                                {{#if session.errors.phone}}
                                    <p class="error">
                                        {{ session.errors.phone.msg }}
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                    
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="gender" class="col-form-label">Gender</label>
                    
                                <select class="form-control updateInputField select2" name="gender" id="gender">
                                    
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                               
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="dob" class="col-form-label">Date of Birth</label>
                                <input type="text" class="form-control inputDate updateInputField" id="dob" name="dob" />
                                
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="joinDate" class="col-form-label">Joining Date</label>
                                <input type="text" class="form-control inputDate updateInputField" id="joinDate" name="joinDate"
                                     />
                                
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="religion" class="col-form-label">Religion</label>
                                <input type="text" class="form-control updateInputField" id="religion" name="religion" placeholder="Enter Your Religion"
                                     />
                               
                            </div>
                        </div>
                    
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="address" class="col-form-label">Address<sup>*</sup></label>
                    
                                <input type="text" class="form-control updateInputField" id="address" name="address" placeholder="Enter Address"
                                     />
                                {{#if session.errors.address}}
                                    <p class="error">
                                        {{ session.errors.address.msg }}
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="photo">Photo</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input " id="photo" name="photo" />
                                        <label class="custom-file-label photo-custom-file" for="photo">
                                            Choose Photo
                                        </label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="">Upload</span>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    
                    <input type="hidden" name="_id" class="hiddenId updateInputField">
                </div>
                <div class="modal-footer justify-content-between">
                    <button style="width: 100%;" type="submit" class="btn btn-light">Update</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content bg-info">
            <div class="modal-header">
                <h4 class="modal-title details-modal-title">Shajal Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-wrap text-center mb-2">
                    <img class="img-circle teacher-details-img" src="https://via.placeholder.com/150" alt="">
                </div>
                <div class="details-info">
                    <h4 class="mb-3">Teacher Information</h4>
                    <table class="table table-bordered details-table">
                        <tbody>
                            <tr>
                                <td>Full Name</td>
                                <td>
                                    Shajal Kumer Sarker
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
