{{> contentHeader page="Student" subPage="Add"}}
<div class="row">
	<form action="/student" method="POST" enctype="multipart/form-data" class="my-form form-submit">
		<div class="col-12"> 
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">Academic Information</h3>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label>Select Class<sup>*</sup></label>
								<select
									name="class"
									id="class"
									class="form-control select2"
								>
                                    {{#if classes}}
                                    <option value="">Select Class</option>
									{{#each classes}}
									<option value="{{ _id }}">{{
										name
									}}</option>
									{{/each}}
									{{else }}
									<option value=""
										>Please 1st Add Class</option
									>
									{{/if}}
								</select>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label>Select Section<sup>*</sup></label>
								<select
									name="section"
									id="section"
									class="form-control select2"
								>
                                    {{#if sections}}
                                    <option value="">Select Section</option>
									{{#each sections}}
									<option value="{{ _id }}">{{
										name
									}}</option>
									{{/each}}
									{{else }}
									<option value=""
										>Please 1st Add Section</option
									>
									{{/if}}
								</select>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="session"
									>Select Session<sup>*</sup></label
								>
								<select
									name="session"
									id="session"
									class="form-control select2"
								>
                                    {{#if sessions}}
                                    <option value="">Select Session</option>
									{{#each sessions}}
									<option value="{{ _id }}">{{
										name
									}}</option>
									{{/each}}
									{{else }}
									<option value=""
										>Please 1st Add Session</option
									>
									{{/if}}
								</select>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="admissionNo"
									>Admission No<sup>*</sup></label
								>
								<input
									type="text"
									class="form-control"
									placeholder="Enter Admission no"
									name="admissionNo"
									id="admissionNO"
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="regNo">Registration No</label>
								<input
									type="text"
									class="form-control"
									placeholder="Enter ..."
									name="regNo"
									id="regNo"
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="rollNo">Roll No<sup>*</sup></label>
								<input
									type="text"
									class="form-control"
									placeholder="Enter ..."
									name="rollNo"
									id="rollNo"
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="group">Select Group</label>
								<select
									name="group"
									id="group"
									class="form-control select2"
									name="group"
								>
									<option value="">Select Group</option>
									<option value="science">Science</option>
									<option value="arts">Arts</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">Student Information</h3>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label for="SFirstName"
									>First Name <sup>*</sup></label
								>
								<input
									name="SFirstName"
									id="SFirstName"
									class="form-control"
								/>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="SLastName"
									>Last Name <sup>*</sup></label
								>
								<input
									name="SLastName"
									id="SLastName"
									class="form-control"
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="gender"
									>Select Gender <sup>*</sup></label
								>
								<select
									name="gender"
									id="gender"
									class="form-control select2"
									name="gender"
								>
									<option value="" >Select A Gender</option>
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="dob"
									>Date of Birth <sup>*</sup></label
								>
								<input
									type="text"
									class="form-control inputDate"
									name="dob"
                                    id="dob"
                                    value=""
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="religion"
									>Religion</label
								>
								<input
									type="text"
									class="form-control"
									placeholder="Enter Religion"
									name="religion"
									id="religion"
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="SMobile"
									>Mobile No</label
								>
								<input
									type="text"
									class="form-control"
									placeholder="Enter Mobile No"
									name="SMobile"
									id="SMobile"
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="SEmail">Email</label>
								<input
									type="text"
									class="form-control"
									placeholder="Enter Email"
									name="SEmail"
									id="SEmail"
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="blood">Blood Group</label>
								<select
									name="blood"
									id="blood"
									class="form-control select2"
								>
									<option value=""
										>Select A Blood Group</option
									>
									<option value="A-">A-</option>
									<option value="A+">A+</option>
									<option value="B+">B+</option>
									<option value="B-">B-</option>
									<option value="AB-">AB-</option>
									<option value="AB+">AB+</option>
									<option value="O">O-</option>
									<option value="O+">O+</option>
								</select>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="photo">Student Photo</label>
								<div class="custom-file">
									<input
										type="file"
										class="custom-file-input"
                                        id="photo"
                                        name="photo"
									/>
									<label
										class="custom-file-label"
										for="photo"
										>Choose file</label
									>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="SAddress">Address</label>
								<textarea
									class="form-control"
									rows="1"
									placeholder="Enter Address"
									name="SAddress"
									id="SAddress"
								></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">Parent/Guardian Details</h3>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label for="PFirstName"
									>First Name <sup>*</sup></label
								>
								<input
									name="PFirstName"
									id="PFirstName"
									class="form-control"
									placeholder="Enter Parent First Name"
								/>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="PLastName"
									>Last Name <sup>*</sup></label
								>
								<input
									name="PLastName"
									id="PLastName"
									class="form-control"
									placeholder="Enter Parent Last Name"
								/>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="form-group">
								<label for="PMobile"
									>Mobile No <sup>*</sup></label
								>
								<input
									type="text"
									class="form-control"
									placeholder="Enter Parent Mobile"
									name="PMobile"
									id="PMobile"
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="occupation">Occupation</label>
								<input
									type="text"
									class="form-control"
									placeholder="Enter Parent occupation"
									name="occupation"
									id="occupation"
								/>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="PEmail">Email</label>
								<input
									type="text"
									class="form-control"
									placeholder="Enter Parent Email"
									name="PEmail"
									id="PEmail"
								/>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="PAddress">Address</label>
								<textarea
									class="form-control"
									rows="1"
									placeholder="Enter Parent Address"
									name="PAddress"
									id="PAddress"
								></textarea>
							</div>
						</div>
						<div class="col-sm-12">
							<button type="submit" class="btn btn-info">
								Register
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
