{{> contentHeader page="STUDENT" subPage="All Student"}}
{{> messages}}
<div class="row">
    <div class="col-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">All Student</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline"
                                role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example2">
                                            ID
                                        </th>
                                        <th>Photo</th>
                                        <th class="sorting_desc" tabindex="0" aria-controls="example2">
                                            Full Name
                                        </th>
                                        <th class="sorting_desc" tabindex="0" aria-controls="example2">
                                            Class
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2">
                                            Section
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2">
                                            Registration No
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2">
                                            Roll No
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each students}}
                                        <tr role="row" class="odd">
                                            <td class="" tabindex="0">1</td>
                                            <td class="sorting_1 text-center">
                                                <img class="img-circle my-circle-img" src="{{photo}}" alt="" />
                                            </td>
                                            <td class="sorting_1 text-center">
                                                {{ SFirstName }} {{SLastName}}
                                            </td>
                                            <td class="sorting_1 text-center">
                                                {{ class.name }}
                                            </td>
                                            <td class="sorting_1 text-center">
                                                {{ section.name }}
                                            </td>
                                            <td class="sorting_1 text-center">
                                                {{ regNo }}
                                            </td>
                                            <td class="sorting_1 text-center">
                                                {{ rollNo }}
                                            </td>
                                            <td class="text-center">
                                                <button data-id="{{_id}}" onclick="studentUpdateModal(this, 'student')"
                                                    data-toggle="modal" data-target="#update"
                                                    class="btn btn-info btn-small">
                                                    Edit
                                                </button>
                                                <button data-id="{{_id}}" onclick="studentDeleteModal(this)"
                                                    data-toggle="modal" data-target="#delete"
                                                    class="btn btn-danger btn-small">
                                                    Delete
                                                </button>
                                                <button data-id="{{_id}}" onclick="studentDetailsModal(this, 'student')"
                                                    data-toggle="modal" data-target="#details"
                                                    class="btn btn-primary btn-small">
                                                    Details
                                                </button>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                Showing 1 to 10 of 57 entries
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="example2_previous">
                                        <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0"
                                            class="page-link">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0"
                                            class="page-link">1</a>
                                    </li>

                                    <li class="paginate_button page-item next disabled" id="example2_next">
                                        <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0"
                                            class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<div class="modal fade" id="delete" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Delete Student</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <Do>Are you sure? Do you want to delete this Record?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button onclick="deleteSingleItem(this, 'student')" style="width: 100%;" type="button"
                    class="btn btn-light deleteBtn">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="update" aria-hidden="true" style="display: none;">
    <div class="modal-dialog student-modal-dialog">
        <div class="modal-content bg-info">
            <div class="modal-header">
                <h4 class="modal-title">Edit Student</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form role="form" method="POST" class="updateForm my-form form-horizontal" action="/student?_method=PUT" enctype="multipart/form-data">
                <div class="modal-body">

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="SFirstName">First Name <sup>*</sup></label>
                            <input name="SFirstName" id="SFirstName" class="form-control updateInputField"
                                value="{{ session.matchedValue.SFirstName }}" />
                            {{#if session.errors.SFirstName}}
                                <p class="error">
                                    {{ session.errors.SFirstName.msg }}
                                </p>
                            {{/if}}
                        </div>
                    </div>
                
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="SLastName">Last Name <sup>*</sup></label>
                            <input name="SLastName" id="SLastName" class="form-control updateInputField" value="{{ session.matchedValue.SLastName }}" />
                            {{#if session.errors.SLastName}}
                                <p class="error">
                                    {{ session.errors.SLastName.msg }}
                                </p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="gender">Select Gender</label>
                            <select name="gender" id="gender" class="form-control updateInputField" name="gender">
                                <option value="">Select Gender</option>
                                <option value="male" {{selected 'male' session.matchedValue.gender}}>Male</option>
                                <option value="female" {{selected 'female' session.matchedValue.gender}}>Female</option>
                                <option value="female" {{selected 'other' session.matchedValue.gender}}>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="SDob">Date of Birth</label>
                            <input type="text" class="form-control updateInputField inputDate" name="SDob" id="SDob" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="religion">Religion</label>
                
                            <select name="religion" id="religion" class="form-control updateInputField select2">
                                <option value="">Select Religion</option>
                                <option value="islam" {{selected 'islam' session.matchedValue.religion}}>Islam</option>
                                <option value="hinduism" {{selected 'hinduism' session.matchedValue.religion}}>Hinduism</option>
                                <option value="buddhists" {{selected 'buddhists' session.matchedValue.religion}}>Buddhists</option>
                                <option value="christians" {{selected 'christians' session.matchedValue.religion}}>Christians</option>
                                <option value="others" {{selected 'others' session.matchedValue.religion}}>Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="SMobile">Mobile No</label>
                            <input type="text" class="form-control updateInputField" placeholder="Enter Mobile No" name="SMobile" id="SMobile"
                                value="{{ session.matchedValue.SMobile }}" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="SEmail">Email</label>
                            <input type="text" class="form-control updateInputField" placeholder="Enter Email" name="SEmail" id="SEmail"
                                value="{{ session.matchedValue.SEmail }}" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="blood">Blood Group</label>
                            <select name="blood" id="blood" class="form-control updateInputField select2">
                                <option value="">Select A Blood Group</option>
                                <option value="A-" {{selected 'A-' session.matchedValue.blood}}>A-</option>
                                <option value="A+" {{selected 'A+' session.matchedValue.blood}}>A+</option>
                                <option value="B+" {{selected 'B+' session.matchedValue.blood}}>B+</option>
                                <option value="B-" {{selected 'B-' session.matchedValue.blood}}>B-</option>
                                <option value="AB-" {{selected 'AB-' session.matchedValue.blood}}>AB-</option>
                                <option value="AB+" {{selected 'AB+' session.matchedValue.blood}}>AB+</option>
                                <option value="O" {{selected 'O-' session.matchedValue.blood}}>O-</option>
                                <option value="O+" {{selected 'O+' session.matchedValue.blood}}>O+</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="photo">Student Photo</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="photo" name="photo"
                                    value="{{ session.matchedValue.photo }}" />
                                <label class="custom-file-label" for="photo">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="SAddress">Address</label>
                            <input class="form-control updateInputField" placeholder="Enter Address" name="SAddress" id="SAddress"
                                value="{{ session.matchedValue.SAddress }}" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="remarks">Remarks</label>
                            <input type="text" id="remarks" name="remarks" class="form-control updateInputField"
                                value="{{ session.matchedValue.remarks }}">
                        </div>
                    </div>
              
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="_class">Select Class<sup>*</sup></label>
                            <select name="_class" id="_class" class="form-control updateInputField class-edit-wrap">
                              
                            </select>
                            {{#if session.errors.class}}
                                <p class="error">
                                    {{ session.errors.class.msg }}
                                </p>
                            {{/if}}
                        </div>
                    </div>
                
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="section">Select Section<sup>*</sup></label>
                            <select name="section" id="section" class="form-control updateInputField section-edit-wrap">
                               
                            </select>
                            {{#if session.errors.section}}
                                <p class="error">
                                    {{ session.errors.section.msg }}
                                </p>
                            {{/if}}
                        </div>
                    </div>
                
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="session">Select Session<sup>*</sup></label>
                            <select name="session" id="session" class="form-control updateInputField session-edit-wrap">
                                
                            </select>
                            {{#if session.errors.session}}
                                <p class="error">
                                    {{ session.errors.session.msg }}
                                </p>
                            {{/if}}
                        </div>
                    </div>
                
                
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="regNo">Registration No <sup>*</sup></label>
                            <input type="text" class="form-control updateInputField" placeholder="Enter ..." name="regNo" id="regNo"
                                value="{{ session.matchedValue.regNo }}" />
                            {{#if session.errors.regNo}}
                                <p class="error">
                                    {{ session.errors.regNo.msg }}
                                </p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="rollNo">Roll No<sup>*</sup></label>
                            <input type="text" class="form-control updateInputField" placeholder="Enter ..." name="rollNo" id="rollNo"
                                value="{{ session.matchedValue.rollNo }}" />
                            {{#if session.errors.rollNo}}
                                <p class="error">
                                    {{ session.errors.rollNo.msg }}
                                </p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="admissionNo">Admission No</label>
                            <input type="text" class="form-control updateInputField" placeholder="Enter Admission no" name="admissionNo" id="admissionNo"
                                value="{{ session.matchedValue.admissionNo }}" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group">Select Group</label>
                            <select name="group" id="group" class="form-control updateInputField group-edit-wrap" name="group" name="group">

                            </select>
                        </div>
                        </div>
                   
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="PFirstName">First Name <sup>*</sup></label>
                                <input name="PFirstName" id="PFirstName" class="form-control updateInputField" placeholder="Enter Parent First Name"
                                    value="{{ session.matchedValue.PFirstName}}" />
                                {{#if session.errors.PFirstName}}
                                    <p class="error">
                                        {{ session.errors.PFirstName.msg }}
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                    
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="PLastName">Last Name <sup>*</sup></label>
                                <input name="PLastName" id="PLastName" class="form-control updateInputField" placeholder="Enter Parent Last Name"
                                    value="{{ session.matchedValue.PLastName }}" />
                                {{#if session.errors.PLastName}}
                                    <p class="error">
                                        {{ session.errors.PLastName.msg }}
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                    
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="PMobile">Mobile No <sup>*</sup></label>
                                <input type="text" class="form-control updateInputField" placeholder="Enter Parent Mobile" name="PMobile" id="PMobile"
                                    value="{{session.matchedValue.PMobile}}" />
                                {{#if session.errors.PMobile}}
                                    <p class="error">
                                        {{ session.errors.PMobile.msg }}
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="occupation">Occupation</label>
                                <input type="text" class="form-control updateInputField" placeholder="Enter Parent occupation" name="occupation"
                                    id="occupation" value="{{ session.matchedValue.occupation }}" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="PEmail">Email</label>
                                <input type="text" class="form-control updateInputField" placeholder="Enter Parent Email" name="PEmail" id="PEmail"
                                    value="{{ session.matchedValue.PEmail }}" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="PAddress">Address</label>
                                <input class="form-control updateInputField" value="{{ session.matchedValue.PAddress }}" placeholder="Enter Parent Address"
                                    name="PAddress" id="PAddress" />
                            </div>
                        </div>
                </div>

                <input type="hidden" name="_id" class="hiddenId updateInputField">
                </div>
                <div class="modal-footer justify-content-center">
                    <button style="width: 50%;" type="submit" class="btn btn-light">Update</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content bg-info">
            <div class="modal-header">
                <h4 class="modal-title details-modal-title">Shajal Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-wrap text-center mb-2">
                    <img class="img-circle student-details-img" src="https://via.placeholder.com/150" alt="">
                </div>
                <div class="details-info">
                    <h4 class="mb-3">Student Information</h4>
                    <table class="table table-bordered details-table">
                        <tbody>
                            <tr>
                                <td>Full Name</td>
                                <td>
                                    Shajal Kumer Sarker
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
